page-login {
  .photo {
    box-align: center;

    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 10% important;
  }
  .heading {
    text-align: center;
    color: cornflowerblue;
  }
}
