page-details {
  ion-card {
    width: 100vw !important;
    margin: auto !important;
  }
  .myImg {
    width: 700%;
  }
  .iconYellow {
    color: #f4e242;
  }
  .grid {
    margin-right: 18%;
  }
  .btn1 {
    margin-right: -13%;
  }
}
